.list {
  overflow-y: scroll;
  height: 500px;
}

.category {
  background: #f0f0f0;
  border: 1px solid #fff;
}

.header {
  background: hsl(0, 0%, 87%);
  padding: 20px 10px;
  margin: 0;
}

.item {
    padding: 20px 10px;
    border: 1px solid #fff;
    margin-top: -1px
}

.list-header-sticky {
  position: relative;
}

.list-header-sticky-container {
  position: absolute;
  top: 0;
  left: 0;
}

.header.is-stuck {
  box-sizing: border-box;
  cursor: pointer;
  transition: background 300ms;
}

.header.is-stuck {
  box-sizing: border-box;
  cursor: pointer;
  transition: background 300ms;
}

.header.is-stuck:hover {
  background: hsl(0, 0%, 80%);
}

.js-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
