html,
body {
  font-size: 100%;
}


header,
footer,
section {
  max-width: 62.5rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  color: #444;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}


footer {
  margin-top: 60px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.list-view {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 500px;
  border: 1px solid hsl(0, 0%, 80%);
}


  .list-view-header,
  .list-view-item {
    padding: 1rem 1.5rem;
  }


  .list-view-header {
    border-bottom: 1px solid hsl(0, 0%, 80%);
    background-color: hsl(0, 0, 87%);
    transition: background 300ms;
  }


  .list-view-header.is-stuck {
    list-style: none;
  }


  .list-view-header.is-stuck:hover {
    background: hsl(0, 0%, 80%);
  }


  .list-view-item {
    border-bottom: 1px solid hsl(0, 0%, 87%);
    background-color: hsl(0, 0, 100%);
  }


  .list-view-item:last-child {
    border-bottom: none;
  }


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  header,
  section,
  footer {
      padding-left: 0;
      padding-right: 0;
  }


  /* Space out the masthead */
  header {
      margin-bottom: 30px;
  }

}
