html,
body {
    font-size: 100%;
}

header,
footer,
section {
    max-width: 62.5rem;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    color: #444;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

footer {
    margin-top: 60px;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    header,
    section,
    footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */

    header {
        margin-bottom: 30px;
    }
}
